.category {
  ul {
    list-style: none;
    padding: 0;
  }

  img {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  a {
    transition: opacity 0.3s;
  }

  a:hover {
    opacity: 0.6;
  }
}
