.hero {
  height: 100lvh;
  background: url(./../../img/img-food-category-malaysian.jpg);
  background-size: cover;
  background-position: center bottom;

  & .display-1 {
    text-shadow: 0 0 16px rgb(0 0 0 / 0.2);
  }
}
