@use "custom.scss";

@use "section/navbar";
@use "section/hero";
@use "section/promotion";

// @use "./components/animations";
// @use "./components/buttons";
// @use "./components/mixin";
// @use "./components/typography";

// @use "section/navbar";
// @use "section/intro";
// @use "section/companies";
// @use "section/services";
// @use "section/faq";
// @use "section/footer";
// @use "section/get-started";
// @use "section/portfolio";
// @use "section/testimonials";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  // font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
